{% extends "admin/base.html" %}
{% load admin_static %}
{% load i18n %}
{% load devartis_admin %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/devartis.css" %}" />
{% endblock %}

{% block title %}{{ title }} | {% get_current_site_name %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="http://{% get_current_site_domain %}/" title="{% get_current_site_name %}">{% get_current_site_name %}</a></h1>
{% endblock %}

{% block footer %}
<div id="footer">
	<a href="http://www.devartis.com" target="_blank"><img src="{% static "admin/img/logo.png" %}" /></a>
	<p>
		<a href="mailto:info@devartis.com">info@devartis.com</a> - <a href="https://www.google.com.ar/maps/place/devartis/@-34.6005324,-58.4359458,15z/data=!4m5!3m4!1s0x0:0xdd6bfaf56cd803e1!8m2!3d-34.6005324!4d-58.4359458" target="_blank">Julián Álvarez 420, Buenos Aires, Argentina</a>  -  <a href="tel:541148567112">+54 (11) 4856 7112</a>
	</p>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
