{% extends "admin/base.html" %}
{% load admin_static %}
{% load i18n %}
{% load devartis_admin %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/devartis.css" %}" />
{% endblock %}

{% block title %}{{ title }} | {% get_current_site_name %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="http://{% get_current_site_domain %}/" title="{% get_current_site_name %}">{% get_current_site_name %}</a></h1>
{% endblock %}

{% block footer %}
<div id="footer">
	<a href="http://www.devartis.com" target="_blank"><img src="{% static "admin/img/logo.png" %}" /></a>
	<p>
		<a href="mailto:info@devartis.com">info@devartis.com</a> - <a href="https://maps.google.com.ar/maps?q=devartis+-+Luis+Mar%C3%ADa+Drago,+Buenos+Aires&amp;hl=en&amp;ie=UTF8&amp;sll=-34.615853,-58.433298&amp;sspn=0.352056,0.6427&amp;oq=devar&amp;hq=devartis+-&amp;hnear=Luis+Mar%C3%ADa+Drago,+Villa+Crespo,+Buenos+Aires&amp;t=m&amp;z=16" target="_blank">Luis María Drago 135, Buenos Aires, Argentina</a>  -  <a href="tel:541148567112">+54 (11) 4856 7112</a>
	</p>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
